body {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {     
  color: #ffe4c4;
  font-family: "Helvetica";
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

h1 {
   color: #deb887;
   font-family: "Helvetica";
   font-size: 72px;
   font-weight: 700;
   font-style: normal;
}
