body {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {     
  color: #2f4f4f;
  font-family: "Helvetica";
  font-size: 70px;
  font-weight: 400;
  font-style: normal;
}

h1 {
   color: #228b22;
   font-family: "Helvetica";
   font-size: 100px;
   font-weight: 700;
   font-style: normal;
}
